.btn {
	border-radius: 25px;
	padding: 10px 16px;
	border: 0;
	font-style: italic;
	color: white;
	font-weight: bold;
	
	&.pos-static {
		position: static;
		translate: none;
	}
	background-color: var(--color-tertiary);

	&:hover {
		background-color: var(--color-secondary);
	}
}

.btn.btn-warning {
	background-color: #fff;
	color: #000;

	&:hover {
		color: #fff;
		background-color: #e4005b;
	}
}
