.btn {
	background-color: var(--color-tertiary);

	&:hover {
		background-color: var(--color-secondary);
	}
}

.btn.btn-warning {
	background-color: #fff;
	color: #000;

	&:hover {
		color: #fff;
		background-color: #e4005b;
	}
}
