@use 'variables' as vars;

%btn-style {
	border-radius: vars.$btn-br-radius;
	padding: 10px 16px;
	border: 0;
	font-style: italic;
	font-weight: bold;
}

%hover-effect {
	color: #fff;
	background-color: var(--color-secondary);
}

.btn:not(.btn-close),
.btn:first-child:not(.btn-close) {
	@extend %btn-style;
	background-color: var(--color-tertiary);
	color: white;
	
	&.pos-static {
		position: static;
		translate: none;
	}

	&:hover,
	&:disabled {
		@extend %hover-effect;
	}
	
	&:active:focus {
		@extend %hover-effect;
		outline: solid 4px var(--color-secondary-transparent);
	}
}

.btn.btn-warning {
	background-color: #fff;
	color: #000;

	&:hover {
		color: #fff;
		background-color: #e4005b;
	}
}

.btn-close {
	@extend %btn-style;
}

%back-btn-hover-effect {
	background-color: var(--color-primary);
}

.btn.back-arrow,
.btn.back-arrow:first-child {
	@extend %back-btn-hover-effect;
	width: 60px;
	transition: 0.4s;

	&:hover, &:active:focus {
		@extend %back-btn-hover-effect;
		color: var(--color-secondary);
	}
}
