@use "bootstrap/scss/bootstrap" as bs;
@use "variables";
@use "buttons";
@use "forms";

/* Root Color */
:root {
    --color-primary: #0E395D;
    --color-secondary: #65B0FF;
    --color-tertiary: #155489;
    --color-complementary: #FFB465;
		--color-error: #B00020;
}

::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-complementary);
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

// Standard dimensions
:root {
	--header-h: 80px;
	--header-border-r: 30px;
}

body {
	overflow: hidden;
	font-family: Reddit Sans,Times, 'Times New Roman', serif;
}

// Utility
.bg {
	/* background-image: url(../../public/tile_background.png); */
	background-image: url(../assets/medical-icons-background.svg);
	background-repeat: repeat;
}


// Animations
// Move (Credits: "Cool text" from Christine Banlawi, https://codepen.io/cbanlawi/pen/MWbemYP)
@keyframes move-up {
	from {
		box-shadow: none;
	}

  60% {
    box-shadow: 0 26px 36px 0px var(--color-tertiary);
  }

	to {
		box-shadow: 0px 4px 20px -10px var(--color-tertiary);
	}
}

/* Form animation */
@keyframes fade {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}